
  	
  <div class= "container">
  	<h2 id="<%= @user.id %>">	<%= @user.username.capitalize %>'s Stocks and Portfolio </h2>

  	<div class = "search">
  		Search for stock<br>
  		<input type="text" placeholder="Enter a ticker symbol here" name="search"> 
  		<br>
  		<button id="stock_search">Click me now</button>
		</div>
  	
  	

  	<div id="results"></div>
  	
  	<div id="stock_list_container">
  		<h3 class='stock_list_heading'>Portfolio</h3>
  		<ul class="stock_list"></ul>
  	</div>
</div>