
  	
  <div class= "container">
  	<h2 id="<%= @user.id %>">	<%= @user.username.capitalize %>'s Stocks and Portfolio </h2>

    <% if session[:current_user_id] === @user.id %>
  	<div class = "search">
  		Search For Stocks To Add To Your Portfolio<br>
  		<input type="text" placeholder="Enter a ticker symbol here" name="search"> 
  		<button id="stock_search">Search</button>

      <div id="results"></div>

		</div>
    <% end %>
  	
  	

  	
  	
  	<div id="stock_list_container">
  		<h3 class='heading'>Portfolio</h3>
  		<ul class="stock_list"></ul>
  	</div>
    
    <p>
      <button id="show-pe-ratio">PE Ratio</button>
    </p>
    
    <div class= "pe-ratio-container"></div>

</div>