/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: #F0FFF0;
	font-family: "Courier New", Courier, monospace;
}

 /* 
 
 ========Front Page======== 

 */

.index_header h1{
	text-align: center;
	color: white;
	font-size: 110px;
	letter-spacing: 0.15em;
	font-weight: 600;
	padding: 100px;
}

.index_header {
	background: black;
	margin: 100px -20px 100px -20px;
	height: 350px;
}



.index_links {
	text-align: center;
	font-size: 25px;
	margin-top: 0px;
}

.index_links a {
	background: black;
	text-decoration: none;
	color: white;
	padding: 15px;
	border-radius: 10px;
	margin: auto 20px;
}

.index_links a:hover {
	background: green;
}



/*
	Sign Up and Login
*/

form {
	padding-top: 100px;
}

fieldset {
	margin: 0 auto;
	width: 200px;
	border: 2px solid black;
	background: black;
	border-radius: 15px;
	padding: 20px;

}

legend {
	padding-top: 50px;
	margin-bottom: 10px;
	font-size: 25px;
	color: white;
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.05em;
}

fieldset input {
	padding: 10px;
	width: 131px;
	display: block;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 15px;
	font-size: 15px;
}

.submit {
	width: 95px;
}
